<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single Page Application Authentication - Auth Success</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    if (window.opener) {
        window.opener.focus();

        var state = '<%= state %>';
        var user = <%- JSON.stringify(user) %>;
        if (window.opener.app &&
            window.opener.app.authState) {
            
            window.opener.app.authState(state, user);
        }
    }
    window.close();
</script>
</body>
</html>