<!DOCTYPE html>
<html lang="en" ng-app="SPAAuth">
	<head>
		<title>Single Page Application Authentication</title>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	</head>
	<body>
		<div ng-controller="MessageController">
			Unsecured message: <span ng-bind="messages.unsecured"></span>
			<br/>
			Secured message: <span ng-bind="messages.secured"></span>
		</div>

		<script type="text/javascript" src="/app/libs/angular.js"></script>
		<script type="text/javascript" src="/app/app.js"></script>
		<script type="text/javascript" src="/app/controllers/message-controller.js"></script>
	</body>
</html>